.dida {
  max-width: 400px;
  width: 100%;
  text-align: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin: 40px auto;
}
.dida:hover h3,
.dida:hover p {
  left: 0;
}
.dida-text {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: -100%;
  background: rgba(0,0,0,0.5);
  color: #fff;
  transition: all .5s ease;
  transition-delay: .5s;
  transform: rotate(360deg);
}
.dida-text a {
  color: #fff;
  border: 2px solid #fff;
  padding: 4px 10px;
  text-decoration: none;
}
.dida-text a:hover {
  color: #4f5856;
  background: #fff;
}
.dida:hover .dida-text {
  opacity: 1;
  transform: rotate(0);
  top: 0;
  transition-delay: 0s;
}
.dida-text h3 {
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #f3b204;
  padding: 10px 20px;
  margin-bottom: 0;
  position: relative;
  left: 100%;
  margin-top: 37px;
  font-size: 30px;
  transition: all .5s;
  transition-delay: 1s;
}
.dida-text p {
  font-family: Arial, sans-serif;
  padding: 10px 20px;
  margin-bottom: 0;
  margin-top: 20px;
  position: relative;
  left: 100%;
  font-size: 13px;
  transition: all .5s;
  transition-delay: 1.3s;
}
@media screen and (max-width: 419px) {
  .dida-text {
    display: none;
  }
}

